#workspace-1{
  background-image: url(img/background1.jpg);
  background-size:cover;
}

#workspace-2{
  background-image: url(img/background2.jpg);
  background-size: cover;
}

#workspace-3{
  background-image: url(img/3.jpg);
  background-size: cover;
}

#workspace-4{
  background-image: url(img/4.jpg);
  background-size: cover;
}

.workspace{
  display: hidden;
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear
}

.workspace.right{
  transform: translate(100%);
}

.workspace.left{
  transform: translate(-100%);
}

.workspace.up{
  transform: translate(0,-100%);
}

.workspace.down{
  transform: translate(0,100%);
}

.workspace.active{
  display: inline-block;
  vertical-align: top;
  height:100%;
  width:100%;
}

.workspaces{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body{
  overflow-x:hidden;
}
