#workspace-1{
  background-image: url(img/background1.jpg);
}

#workspace-2{
  background-image: url(img/background2.jpg);
}

#workspace-3{
  background-image: url(img/3.jpg);
}

#workspace-4{
  background-image: url(img/4.jpg);
}

.workspace{
  display: hidden;
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.workspace.right{
  transform: translate(100%);
  -webkit-transform: -webkit-translate(100%);
}

.workspace.left{
  transform: translate(-100%);
  -webkit-transform: -webkit-translate(-100%);
}

.workspace.up{
  transform: translate(0,-100%);
  -webkit-transform: -webkit-translate(0,-100%);
}

.workspace.down{
  transform: translate(0,100%);
  -webkit-transform: -webkit-translate(0,100%);
}

.workspace.active{
  display: inline-block;
  vertical-align: top;
  height:100%;
  width:100%;
}

.workspaces{
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
}

body{
  overflow-x:hidden;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}
